/* GERAL */
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: papayawhip;
}

html {
  scroll-behavior: smooth;
}


/* PAGINA INICIAL */

#inicio ul, a {
  display: flex;
  flex-direction: column;
  text-align: center;
  text-decoration: none;
  list-style-type: none;
  gap: 50px;
  color: purple;
  padding-top: 15px;
}

h1 {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  color: purple;
  padding: 50px 0;
  background-color: black;
}

/* FAQ */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  background-color: black;
  padding: 50px 80px;
  text-align: center;
  gap: 20px;
}

header nav {
display: flex;
align-items: center;
gap: 40px;
}

h2 {
  color: purple;
  display: flex;
  gap: 10px;
  align-items: center;
}

a:hover {
  color: plum;
}

/* FORMULARIO */
#contato {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 30px;
  padding: 40px 80px;
  min-height: 600px;
  align-items: center;
}

#contato form {
  max-width: 80%;
  background-color: peachpuff;
  border-radius: 20px;
  padding: 36px 40px;
  box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.08);
}

.forms {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input {
  border: 2px solid purple;
  border-radius: 8px;
  height: 30px;
}

textarea {
  height: 80px;
}

select {
  border: 2px solid purple;
  border-radius: 8px;
  height: 30px;
}

button {
  height: 40px;
  margin-top: 20px;
  cursor: pointer;
  background-color: plum;
  border: none;
  border-radius: 8px;
}

button:hover {
  background-color: purple;
}

/* FAQ */

#duvidas {
  min-height: 700px;
}

.lista {
  display: flex;
  padding: 50px;
  gap: 30px;
}

.lista img {
  width: 400px;
}

h3{
  text-align: center;
  padding: 30px 0 10px 0;
  font-size: 20px;
  color: purple;
}

p {
  text-align: center;
}

.article {
  display: flex;
  margin: 0 20px;
}

/* SOBRE */

table {
  margin: auto;
  border-collapse: collapse;
  border: 1px solid #ccc;
}
th {
    background-color: plum;
    color: #333;
    padding: 10px;
    border: 1px solid #ddd; 
    text-align: center; 
}
td {
    padding: 10px; 
    border: 1px solid #ddd;
    text-align: center;
}



#sobre h2{
  justify-content: center;
  padding: 40px;
}
#sobre p {
  padding: 0 80px;
}

#cursos h2{
  justify-content: center;
  padding: 20px;
}

#cursos p {
  padding-bottom: 20px;
}

#interesses {
    justify-content: center;
    margin: 30px auto;
    max-width: 600px;
}

#interesses label {
    display: block;
    margin-bottom: 5px;
}

#interesses h2 {
    margin-bottom: 10px;
}

/* SERVIÇOS */
#servicos {
  display: flex;
  gap: 80px;
  padding: 20px 80px;
  margin-top: 50px;
  margin-bottom: 50px;
}

#servicos img {
  width: 300px;
  margin-left: 200px;
  border-radius: 8px;
}

.text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  padding-top: 40px;
}

.text p {
  width: 500px;
}

aside li {
  list-style-type: none;
}


/* RODAPÉ */
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: palevioletred;
  padding: 60px;
  margin-top: 50px;
}
